* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%; /* Asegura que el html y el body ocupen toda la altura */
  min-height: 100%; /* Esto es para garantizar que ocupen al menos la altura de la ventana del navegador */
}

body {
  background-image: url("assets/banner/loginimage.gif");
  background-repeat: no-repeat;
  background-size: cover; /* Esto hará que la imagen de fondo cubra todo el espacio disponible */
  background-attachment: fixed; /* Opcional: Esto hará que la imagen de fondo se fije y no se desplace con el contenido */
}
.container{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.login_page{
width: 400px;
background: #000;
color: #fff;
font-size: 20px;
font-family: helvetica, sans-serif;
font-weight: 500;
letter-spacing: 2px;
border-radius: 7px;
box-shadow: -3px -3px 3px #000,
            3px 3px 5px rgba(94,104,121,0.288);
}
.login_page input, label{
  margin: 10px 20px;
}
.login_page input::placeholder{
color: #000;
}
.login_page input[type="text"],input[type="password"]{
width: 90%;
height: 50px;
border-radius: 5px;
font-size: 18px;
outline: none;
border: 0;
padding: 10px;
}
.login_page input[type="submit"]{
text-align: center;
width: 90%;
height: 50px;
font-size: 20px;
outline: none;
border: 0;
border-radius: 15px;
background: #FF0000;
color: #fff;
font-weight: 600;
cursor: pointer;
}
.login_page span{
margin-left: 140px;
}
.login_page .fonts{
background: #FF0000;
width: 100px;
height: 100px;
border-radius: 50%;
margin-left: 150px;
}
.login_page .fas{
color: #fff;
font-size: 50px;
padding-left: 27px;
padding-top: 20px;
}
.login_page a{
text-decoration: none;
color: #12A2F3;
font-size: 16px;
margin-left: 100px;
}
