@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');

/*
Fonts:
  Poppins: 300, 400, 500, 600, 700, 800
  Rubik: 300, 400, 500, 600
*/

:root {
  --primary-color: #7ef43f;
  --secondary-color: #3acb2d;
  --secondary-dark-color: #22a012ec;
  --primary-button-color: #1f84f0;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c8994;
  --border-color: #e5e8ec;
  --dark-color: #0a0a21;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color .3s, color .3s;
  --trans-background: background .3s;
  --trans-color: color .3s;
}



*{
    margin:0;
    padding:0;
}
*, ::before, ::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
  }
  a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
  }
  ul {
    list-style: none;
  }
  img {
    max-width: var(--percent100);
    vertical-align: middle;
  }
  strong {
    font-weight: var(--fw8);
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  input::placeholder {
    font: inherit;
  }

  h1, h2, h3, h4 {
    font-family: 'Poppins';
  }
  
  h1 {
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.2em;
    font-weight: var(--fw7);
  }
  h4 {
    font-size: 1em;
    font-weight: var(--fw6);
  }

  
/* REUSABLE SELECTOR */


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
  }
.column {
    margin-left: -0.938em;
    margin-right: -0.938em;
}
.column .row {
    padding: 0 0.938em;
} 
.flexwrap {
    display: flex;
    flex-wrap: wrap;
}
.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexitem {
    display: flex;
    align-items: center;
}
.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

  /*///////////////////////////////*/

.main-links a:hover {
    color: var(--secondary-color);
}
.second-links a:hover {
    color: var(--light-text-color);
}
.icon-small, .icon-large {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}
.icon-small {
    font-size: 1.25em;
    margin-left: auto;
}
.icon-large {
    font-size: 1.75em;
    padding: 0 0.75em 0 0;
}


.mobile-hide{
    display: none;
}

.object-cover img {
  position: absolute;
  object-fit: cover;  
  width: var(--percent100);
  height: var(--percent100);
  display: block;
}

.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

.primary-button, .secondary-button, .light-button {
  font-size: var(--font-small);
  padding: 0.9em 2em;
  height: auto;
  width: fit-content;
  border-radius: 2em;
  transition: var(--trans-background-color);
}

.primary-button {
  background-color: var(--primary-button-color);
  color: var(--white-color);
}
.primary-button:hover {
  background-color: var(--dark-color);
}

.secondary-button {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.secondary-button:hover {
  background-color: var(--light-bg-color);
  color: var(--secondary-dark-color);
}

.light-button {
  background-color: var(--light-bg-color);
  color: var(--white-color);
}

.light-button:hover {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}

.view-all {
  font-size: var(--font-small);
  display: flex;
  gap: 1em;
  transition: var(--trans-color);
}
  
.mini-text{
  font-size: var(--font-smaller);
  color: var(--light-text-color);
}
  /*HEADER*/

  :where(.off-canvas, header) li > a{
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);

  }

    /*HEADER*/
    /*Header-top*/
    
.header-top .wrapper {
  font-size: var(--font-small);
  font-weight: var(--fw3);
  justify-content: space-between;
  line-height: 42px;
}
.header-top .wrapper ul {
  gap: 2em;
}
.header-top li {
  position: relative;
}

.header-top ul ul {
    position: absolute;
    left: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: none;
}
:where(.header-top, .thetop-nav) ul ul li a{
    padding: 0.25em 1em;
}
:where(.header-top, .thetop-nav) .right ul ul li.current a{
    background-color: var(--border-color);
}
.header-top li:hover ul{
    display: block;
}








    /*///////////////////////*/
    /* HEADER NAV */


.header-nav{
    padding: 0.5em 0;
    margin-bottom: 1.5em;
    /* border-bottom: 4px solid var(--border-color); */
    /* border-bottom: 4px linear-gradient(90deg, #000000 6%, #6abd38 50%, #1f84f0 90%); */
    /* border-bottom: #3333b8b0; */
    /*for the after element to place after nav: */
    position: relative;
    
}    
.header-nav::after {
  content: ''; /* Importante para que el pseudo-elemento se muestre */
  display: block; /* Hace que el pseudo-elemento se comporte como un bloque */
  width: 100%; /* Iguala el ancho del elemento padre */
  height: 4px; /* Altura del borde de gradiente */
  background-image: linear-gradient(90deg, #000000 0%, #6abd38 43%, #1f84f0 90%);
  position: absolute; /* Posiciona absolutamente dentro de .header-nav */
  bottom: -4px; /* Coloca el pseudo-elemento justo debajo del elemento padre */
  left: 0; /* Alinea al lado izquierdo del elemento padre */
}

.trigger {
    font-size: 1.5em;
    display: flex;
    padding: 0.25em;
    margin-right: 0.5em;
}

.logo a {
    font-family: 'Poppins';
    font-size: 1.75em;
    position: relative;
    font-weight: var(--fw8);
    display: flex;
    padding-left: 0.75em;
    margin-right: 2em;
}

.circle{
    position: absolute;
    top: -7x;
    left: 10px;
    width: 38px;
    height: 38px;
    border-radius: var(--percent50);
    background-color: var(--light-bg-color);
    z-index: -1;
}
.circle::before{
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: var(--percent50);
    background-color: var(--secondary-color);
    bottom: 5px;
    right: 5px;
    opacity: .4;

}

.header-nav nav > ul {
    line-height: 100px;
    gap: 1.5em;
}

.fly-item {
    position: absolute;
    height: 16px;
    font-size: var(--font-smaller);
    padding: 3px;
    text-align: center;
    line-height: 10px;
    color: var(--white-color);
}

.nav .fly-item {
    top: 50%;
    margin-top: -24px;
    width: 30px;
    border-radius: 3px;
    right: -32px;
    background-color: var(--primary-color);
}

/* right */

.header-nav .right {
  position: relative;
  margin-left: auto;
}
.header-nav .right .icon-large {
  position: relative;
}
.header-nav .right .fly-item {
  top: 0;
  right: 16px;
  width: 16px;
  background-color: var(--secondary-dark-color);
  border-radius: var(--percent50);
}

.mega .flexcol {
  flex: 1;
  min-width: 180px;
  padding-right: 2.5em;
  margin-bottom: 1,5em;
  z-index: 1;
}



  /* HEADER - MAIN  */
  /* DEPARTMENTS CATEGORY */

.header-main{
  background-color: var(--secondary-dark-color);
  padding: 1.5em 0;
  margin-bottom: 2em;
}

.dpt-cat{
  position: relative;
  z-index: 10;
}

.dpt-cat .dpt-head{
  position: relative;
  width: 300px;
  padding: 0.75em 1.5em;
  background-color: var(--primary-color);
  border-radius: 7px 7px 0 0;
  color: var(--white-color);
  margin-bottom: -2.15em;
}

.dpt-cat .dpt-head .mini-text{
  color: var(--light-bg-color);
}

.dpt-cat .dpt-trigger{
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.3em;
  height: 60px;
  width: 60px;
}
.dpt-menu > ul > li > a {
  font-size: var(--font-small);
  height: 46px;
  align-items: center;
}
.dpt-menu .has-child:hover ul{
  display: block;
}
.dpt-menu .has-child li a:hover {
  text-decoration: underline;
}



  /*HEADER*/
  /*SEARCH FORM*/

.header-main .right{
  flex: 1;
}

form {
  position: relative;
}
form.search input{
  line-height: 3.25em;
  padding: 0 7em 0 4.5em;
  border: 0;
  outline: 0;
  width: var(--percent100);
  border-radius: 8px;
  font-size: 0.8em;
  font-weight: var(--fw3);
}
form.search :where(span, button) {
  position: absolute;
  top: 0;
  padding: 0.55em 1.5em;
  font-size: 1em;
  color: var(--light-text-color);
  height: var(--percent100);
}

form.search button {
  right: 0;
  border: 0;
  outline: 0;
  font-size: 0.875em;
  font-weight: var(--fw6);
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  transition: var(--trans-background);
}

form.search button:hover {
  background-color: var(--dark-color);
}

  /*HEADER*/
  /* Responsive menu OFF CANVAS */

.site-off {
  position: fixed;
  width: 320px;
  height: var(--percent100);
  background-color: var(--white-color);
  overflow-y: auto;
  z-index: 1000;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform .4s, visibility .4s;
  will-change: transform, visibility;
}

.showmenu .site-off {
  transform: translateX(0);
  visibility: visible;
  transform: transform .4s 0s, visibility 0s 0s;
}

.off-canvas {
  width: var(--percent100);
  height: var(--percent100);
  touch-action: auto;
  padding: 1.5em;
}

.off-canvas .canvas-head {
  color: var(--white-color);
  justify-content: space-between;
  padding: 1.5em;
  margin: -1.5em -1.5em 1.5em;
  background-color: var(--secondary-dark-color);
  border-bottom-right-radius: 160px;  
}

.off-canvas .canvas-head .logo {
  z-index: 10;
  position: relative;
}
.off-canvas .canvas-head .logo .circle  {
  opacity: .75;
}

.t-close {
  font-size: 1.25em;
  width: 32px;
  height: 32px;
  border-radius: var(--percent50);
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
  transition: var(--trans-background-color);
}
.t-close:hover {
  background-color: var(--white-color);
  color: var(--secondary-dark-color);
  opacity: .75;
}

.off-canvas .dpt-head {
  font-size: var(--font-small);
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  background-color: var(--light-bg-color);
  border-radius: 7px 7px 0 0;
}

.off-canvas .has-child > :where(ul, .mega){
  font-size: var(--font-small);
  font-weight: var(--fw3);
  line-height: 28px;
  padding-left: 3em;

  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.off-canvas .expand > :where(ul, .mega) {
  max-height: 2000px;

}
.off-canvas .thetop-nav ul, .off-canvas nav > ul {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-small);
  line-height: 36px;
  padding-top: 1.25em;
  margin: 1.25em 0;
  border-top: 3px solid var(--border-color);
}

.off-canvas nav .mega {
  padding: 0;
}

.off-canvas nav .mega .products {
  display: none;
}

.off-canvas .has-child .icon-small {
  padding: 0.5em;
  line-height: initial;
}

.off-canvas .dpt-menu .icon-small i {
  transform: rotate(90deg);
}

.off-canvas .has-child {
  width: var(--percent100);
}

.off-canvas .thetop-nav .right > ul > :where(:nth-child(4), li:nth-child(5)) > a {
  display: none;
} 

.off-canvas .thetop-nav .right ul ul {
  display: flex;
  flex-direction: row;
}

.off-canvas .thetop-nav .right ul ul li a {
  padding: 0.5em;
  border: 1px solid var(--border-color);
  line-height: 16px;
  margin: 0 0.5em 0.5em 0;
}


  /*SLIDER*/

.slider .item {
  position: relative;
  height: 500px;
}
.slider .item::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 0;
  width: 450px;
  height: 300px;
  background-color: var(--white-color);
  z-index: 1;
  filter: blur(100px);
  opacity: .5;
}
.slider .text-content {
  position: relative;
  height: var(--percent100);
  justify-content: flex-end;
  padding: 0 0 10% 10%;
  z-index: 1;
}
.slider h4 {
  font-size: var(--font-small);
  font-weight: var(--fw7);
  width: fit-content;
  padding: 4px 10px;
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
  border-radius: 4px;
}
.text-content :where(h2, h3) span:first-child {
  font-weight: var(--fw3);
  columns: var(--light-text-color);
}
.text-content :where(h2, h3) span:first-child {
  color: var(--dark-color);
  text-transform: uppercase;
  letter-spacing: -1px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-button-color);
}


/*Brands*/
.ods {
  margin-top: 2vw;
  border-top: 4px solid var(--border-color);
  /* background-image: url(assets\banner\libros-ods-978x652.jpg); */
}
.ods .wrapper {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3em 9em;
  border-top: 4px solid var(--border-color);
  background-image: url(assets\ods\ods12.png);
}
.ods h3 {
  font-size: ;
  margin-top: 3vw;
  margin-bottom: 1vw;
  text-align: center;
  opacity: .6;
}
.ods .item img {
  width: 160px;
  height: 110px;
  opacity: .45;
  transition: opacity .3s;
}
.ods .item a:hover img {
  opacity: 1;
}


.quienes-somos {
  background-color: #f0f0f0;
  padding: 20px 0;
}

.quienes-somos .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.quienes-somos h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.quienes-somos .image {
  text-align: center;
  margin-bottom: 20px;
}

.quienes-somos img {
  max-width: 100%;
  height: auto;
}

.quienes-somos p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 1em;
}

/*Second slider*/
.second-slider {
  margin-top: 3em;
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}
.second-slider .item {
  position: absolute;
  width: 200px;
  height: 300px;
  text-align: center;
  background-color: #dae3f4;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
  border: 3px solid #66ecbd59;
}
#next, #prev {
  position: absolute;
  top: 40%;
  color: #1f84f0;
  background-color: transparent;
  border: none;
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  left: 50px;
}
#next {
  left: unset;
  right: 50px;
}





/*//\\*/
.stats-section {
  background-image: linear-gradient(90deg, #2f66e7 10%, #4868db 47%, #5979de 83%); /* Replace with your preferred color */
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  flex-wrap: wrap; /* This will allow the stats to wrap on smaller screens */
  align-items: center;
}

.stat h2 {
  margin: 0;
  font-size: 2.5rem; /* Large font size for the number */
  text-align: center;
}

.stat p {
  margin: 5px 0 0;
  font-size: 1rem; /* Smaller font size for the text */
  text-align: center
}



/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*Footer*/
.newsletter {
  padding: 2.5em 0;
  background-color: var(--dark-color);
  color: var(--white-color);
}
.newsletter h3 {
  font-size: 1.5em; 
}
.newsletter p {
  font-weight: var(--fw3);
  color: var(--border-color);
  margin: 0.5em 0 1.5em;
}
.newsletter p strong {
  color: var(--primary-color);
}
.newsletter form {
  max-width: 500px;
  width: var(--percent100);
}






/*Bottom menu*/

.menu-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background-color: var(--white-color);
  box-shadow: 0 -2px 10px rgb(0 0 0 / 10%);
  z-index: 900;
}
.menu-bottom nav li {
  flex: 1;
}
.menu-bottom nav li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 0;
  color: var(--light-text-color);
  transition: var(--trans-color);
}
.menu-bottom nav li a:hover{
  color: var(--dark-color);
}
.menu-bottom nav li a span {
  font-size: var(--font-smaller);
}
.menu-bottom nav li a i {
  font-size: 1.25em;
}
.menu-bottom .fly-item {
  right: 50%;
  width: 16px;
  border-radius: var(--percent50);
  margin-right: -20px;
  background-color: var(--secondary-dark-color);
}

/*bottom menu*/
/*/////////Search//////////*/

.search-bottom {
  position: fixed;
  bottom: 60px;
  width: var(--percent100);
  padding: 2.5em 0;
  background-color: var(--secondary-dark-color);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  will-change: visibility, opacity;
}
.showsearch .search-bottom {
  visibility: inherit;
  opacity: 1;
}

.search-bottom .t-close {
  position: absolute;
  top: -54px;
  right: 0;
}
.search-bottom .t-close:hover {
  background-color: var(--primary-color);
}


/*overlay*/
.overlay {
  position: fixed;
  width: var(--percent100);
  height: var(--percent100);
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  will-change: visibility, opacity;
}
.showmenu .overlay {
  opacity: 1;
  visibility: inherit;
}




/**||||||||||||||||||||||||||||||||||||**/

/*page single*/

  /*page single*/
  /*departments menu*/

.page-home .dpt-cat .dpt-trigger,
.dpt-trigger .ri-close-line,
.showdpt .dpt-trigger .ri-menu-3-line {
  display: none;
}
.showdpt .dpt-trigger .ri-close-line {
  display: block;
}












/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\*/
/*|||||||||||||||||||||||||||||||TEAM PAGE||||||||||||||||||||||||||||||||||\*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\*/


.quienes-somos .card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.quienes-somos .card {
  width: 32rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: .5rem .5rem .3rem rgba(0, 0, 0, 0.2);
}
.quienes-somos .card-img {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);

}
.quienes-somos .profile-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -10rem;
  z-index: 888;
  border: 1rem solid #5979de;
}
.quienes-somos .card h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 1.5rem 0;
}
.quienes-somos .card .job-title{
  color: #777;
  font-size: 1.5rem;
  font-weight: 300;
}
.quienes-somos .about{
  font-size: 1.5rem;
  margin: 1.5rem 1rem;
  font-style: italic;
  text-align: center;
  color: #333;
}
.quienes-somos .card .btn {
  padding: 1rem 2.5rem;
  background-color: #445ae3;
  border-radius: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  color: #eee;
  font-size: 1.4rem;
  transition: all .5s;
}
.quienes-somos .card .btn:hover {
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
}
.quienes-somos .card .btn:active {
  transform: translateY(0);
  box-shadow: none;
}
.quienes-somos .social-media{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0,0,0,.1);
}
.quienes-somos .social-media i{
  font-size: 3rem;
}

.quienes-somos .social-media .fa-facebook-square {
  color: #3b5999;
}

.quienes-somos .social-media .fa-instagram {
  color: #e6683c;
}
.quienes-somos .social-media .fa-google-plus-square {
  color: #dd4b39;
}

  /*RESPONSIVE*/

@media screen and (min-width: 992px){
    .container{
        padding: 0 2em;
    }
    .desktop-hide{
        display: none;
    }
    .mobile-hide{
        display: block;
    }
    .logo a {
        margin-right: 2em;
    }
    .header-nav{
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }
    .header-nav .right li > a{
        margin-left: 1em;
    }


    /*MEGA MENU*/
    nav .mega{
      position: absolute;
      width: var(--percent100);
      height: auto;
      top: auto;
      left: 0;
      right: 0;
      padding: 2.5em;
      line-height: 2em;
      background-color: var(--light-bg-color);
      box-shadow: rgb(0 0 0 / 20%) 0 30px 20px -30px;
      z-index: 100;


      display: none;
    }

    nav li.has-child:hover .mega{
      display: block;
    }

    nav .mega .wrapper {
      display: flex;
    }
    nav .mega h4 {
      font-size: 0.8em;
      text-transform: uppercase;
    }
    nav .mega ul {
      font-size: var(--font-small);
    }
    nav .mega .all-brands {
      display: flex;
      flex-wrap: wrap;
      max-width: 180px;
    }
    nav .mega .all-brands li {
      min-width: 80px;
    }
    nav .mega .view-all {
      margin-top: 1em;
    }
    nav .mega .products {
      flex: 2;
      padding: 0;
      align-items: center;
      position: relative;
    }
    nav .mega .products .row {
      width: var(--percent100);
    }
    nav .mega .products .media {
      height: 400px;
    }
    nav .mega .products .text-content {
      line-height: initial;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      margin-top: 0.5em;
      position: absolute;
      bottom: 4em;
      width: var(--percent100);
    }
    nav .mega .products .text-content h4 {
      font-size: 2em;
      font-weight: var(--fw8);
      text-align: center;
      width: fit-content;
      background-color: var(--dark-color);
      color: var(--white-color);
      border-radius: 8px;
    }



    /*|||||||||||||||||||||||||||||||||||||||*/

    .header-main .right{
      max-width: 600px;
      margin-left: auto;
    }

    /*DEPARTMENTS MENU*/
    
    .dpt-menu {
      position: absolute;
      top: var(--percent100);
      width: 300px;
      background-color: var(--white-color);
      border: 1px solid var(--border-color);
      border-top: 0;
      border-bottom: 0;
    }
    .dpt-menu > ul > li > a {
      font-weight: var(--fw5);
      padding: 0 1.5em;
      border-bottom: 1px solid var(--border-color);
    } 
    .dpt-menu .has-child > ul, .dpt-menu .mega{
      position: absolute;
      top: 0;
      left: var(--percent100);
      width: var(--percent100);
      height: auto;
      min-height: var(--percent100);
      padding: 1.5em;
      font-size: var(--font-small);
      line-height: 2.5em;
      border: 1px solid var(--border-color);
      border-top: 0;
      display: none;
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: auto;
    }

    /*shows first menu*/
    
    /* .has-child:nth-child(1) > ul  */
    /* .mega */
    .dpt-menu .mega {
      /* display: block; */
    }
    .dpt-menu .socios ul {
      background-image: url(assets/menu/menu_bg2.jpg);
    }
    .dpt-menu .lorem-ipsum1 .mega {
      background-image: url(assets/menu/menu_bg2.jpg);
    }
    .dpt-menu .lorem-ipsum2 ul {
      background-image: url(assets/menu/menu_bg2.jpg);
    }

    .dpt-menu .has-child > :where(ul,.mega)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(90deg, rgba(225, 225, 225, 0.759) 0%, rgba(118, 244, 111, 0.123));
    }
    .dpt-menu .mega{
      width: auto;
      min-width: var(--percent100);
    }
    .dpt-menu .has-child:hover .mega{
      display: flex;
    }

    /*Slider*/
    .slider > div > .wrapper {
      width: calc(100% - (300px + 2em));
      margin-left: auto;
    }


    .quienes-somos h3 {
      font-size: 20px;
    }

    .quienes-somos p {
        font-size: 14px;
        margin-bottom: 1ems;
    }

    /*footer*/
    .newsletter .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }    

    /*page single*/
    #page:not(.page-home) .dpt-menu {
      display: none;
    }
    #page.showdpt .dpt-menu {
      display: block;
    }




    .quienes-somos .card-wrapper{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .quienes-somos .card{
      margin: 2rem;
      /* width: calc(50% - 4rem); */
      transition: transform .5s;
  
    }
  
    @keyframes fadeIn {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
    .quienes-somos .card:nth-child(1) {
        animation: fadeIn .5s .5s backwards;
    }
    .quienes-somos .card:nth-child(2) {
      animation: fadeIn .5s 1s backwards;
    }
    .quienes-somos .card:nth-child(3) {
      animation: fadeIn .5s 1.5s backwards;
    }
    .quienes-somos .card:nth-child(4) {
      animation: fadeIn .5s 2s backwards;
    }
    .quienes-somos .card:nth-child(5) {
      animation: fadeIn .5s 2.5s backwards;
    }
    .quienes-somos .card:hover{
      transform: scale(1.05);
    }


    
}

@media (max-width: 480px) {
  .stat {
    flex-basis: 100%; /* On very small screens, we stack the stats */
  }

  .stat h2 {
    font-size: 1.5rem; /* Even smaller numbers on very small screens */
  }
}
@media only screen and (max-width: 500px) { /* Ancho del iPhone 12 Pro en píxeles */
  .quienes-somos .card {
    width: 100%; /* O cualquier otra medida que se adapte bien al dispositivo */
    margin: auto; /* Centrar la tarjeta si es necesario */
    /* Otros estilos necesarios para la responsividad */
  }
}


/* @media screen and (min-width: 700px) {
  .quienes-somos .card-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .quienes-somos .card{
    margin: 2rem;
    width: calc(50% - 4rem);
    transition: transform .5s;

  }

  @keyframes fadeIn {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .quienes-somos .card:nth-child(1) {
      animation: fadeIn .5s .5s backwards;
  }
  .quienes-somos .card:nth-child(2) {
    animation: fadeIn .5s 1s backwards;
  }
  .quienes-somos .card:nth-child(3) {
    animation: fadeIn .5s 1.5s backwards;
  }
  .quienes-somos .card:nth-child(4) {
    animation: fadeIn .5s 2s backwards;
  }
  .quienes-somos .card:nth-child(5) {
    animation: fadeIn .5s 2.5s backwards;
  }
  .quienes-somos .card:hover{
    transform: scale(1.05);
  }
} */





